<div class="text-center">
<h3>
  <strong>Brand:</strong>
  <%= @video_card.brand %>
</h3>

<h3>
  <strong>Name:</strong>
  <%= @video_card.name %>
</h3>

<h3>
  <strong>Chipset:</strong>
  <%= @video_card.chipset %>
</h3>

<h3>
  <strong>Memory:</strong>
  <%= @video_card.memory %>
</h3>

<h3>
  <strong>Core clock:</strong>
  <%= @video_card.core_clock %>
</h3>

<h3>
  <strong>Boost clock:</strong>
  <%= @video_card.boost_clock %>
</h3>

<h3>
  <strong>Color:</strong>
  <%= @video_card.color %>
</h3>

<h3>
  <strong>Length:</strong>
  <%= @video_card.length %>
</h3>

<h3>
  <strong>Price:</strong>
  <%= @video_card.price %>
</h3>
</div>
<%= link_to 'Edit', edit_video_card_path(@video_card), class:"btn btn-primary" %> 
<%= link_to 'Back', video_cards_path, class:"btn btn-primary" %>
