<%= bootstrap_form_with(model: storage) do |form| %>
  <% if storage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(storage.errors.count, "error") %> prohibited this storage from being saved:</h2>

      <ul>
        <% storage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.number_field :capacity %>
  </div>

  <div class="field">
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.number_field :cache %>
  </div>

  <div class="field">
    <%= form.text_field :form_factor %>
  </div>

  <div class="field">
    <%= form.text_field :interface %>
  </div>

  <div class="field">
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
