<div class="text-center">
<h3>
  <strong>Brand:</strong>
  <%= @storage.brand %>
</h3>

<h3>
  <strong>Name:</strong>
  <%= @storage.name %>
</h3>

<h3>
  <strong>Capacity:</strong>
  <%= @storage.capacity %>
</h3>

<h3>
  <strong>Storage type:</strong>
  <%= @storage.storage_type %>
</h3>

<h3>
  <strong>Cache:</strong>
  <%= @storage.cache %>
</h3>

<h3>
  <strong>Form factor:</strong>
  <%= @storage.form_factor %>
</h3>

<h3>
  <strong>Interface:</strong>
  <%= @storage.interface %>
</h3>

<h3>
  <strong>Price:</strong>
  <%= @storage.price %>
</h3>
</div>
<%= link_to 'Edit', edit_storage_path(@storage), class:"btn btn-primary" %> 
<%= link_to 'Back', storages_path, class:"btn btn-primary" %>
