<%= bootstrap_form_with(model: memory) do |form| %>
  <% if memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
        <% memory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.text_field :speed %>
  </div>

  <div class="field">
    <%= form.number_field :size %>
  </div>

  <div class="field">
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.number_field :cas_latency %>
  </div>

  <div class="field">
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
