<div class="text-center">
<h3>
  <strong>Brand:</strong>
  <%= @memory.brand %>
</h3>

<h3>
  <strong>Name:</strong>
  <%= @memory.name %>
</h3>

<h3>
  <strong>Speed:</strong>
  <%= @memory.speed %>
</h3>

<h3>
  <strong>Size:</strong>
  <%= @memory.size %>
</h3>

<h3>
  <strong>Color:</strong>
  <%= @memory.color %>
</h3>

<h3>
  <strong>Cas latency:</strong>
  <%= @memory.cas_latency %>
</h3>

<h3>
  <strong>Price:</strong>
  <%= @memory.price %>
</h3>
</div>
<%= link_to 'Edit', edit_memory_path(@memory), class:"btn btn-primary" %> 
<%= link_to 'Back', memories_path, class:"btn btn-primary" %>
