
<h1>Builds</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>CPU</th>
      <th>CPU Cooler</th>
      <th>GPU</th>
      <th>RAM</th>
      <th>Storage</th>
      <th>Power Supply</th>
      <th>Motherboard</th>
      <th>Case</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @builds.each do |build| %>
      <tr>
        <td><%= build.name %></td>
        <td><%= link_to build.processor.name, processor_path(build.processor.id) %></td>
        <td><%= link_to build.processor_cooler.name, processor_cooler_path(build.processor_cooler.id) %></td>
        <td><%= link_to build.video_card.name, video_card_path(build.video_card.id) %></td>
        <td><%= link_to build.memory.name, memory_path(build.memory.id) %></td>
        <td><%= link_to build.storage.name, storage_path(build.storage.id) %></td>
        <td><%= link_to build.power_supply.name, power_supply_path(build.power_supply.id) %></td>
        <td><%= link_to build.motherboard.name, motherboard_path(build.motherboard.id) %></td>
        <td><%= link_to build.pc_case.name, pc_case_path(build.pc_case.id) %></td>
        <td><%= link_to 'Show', build %></td>
        <% if current_user && current_user.admin %>
        <td><%= link_to 'Edit', edit_build_path(build) %></td>
        <td><%= link_to 'Destroy', build, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>