<p id="notice"><%= notice %></p>

<h1>Builds</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>CPU</th>
      <th>CPU Cooler</th>
      <th>GPU</th>
      <th>RAM</th>
      <th>Storage</th>
      <th>Power Supply</th>
      <th>Motherboard</th>
      <th>Case</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @builds.each do |build| %>
      <tr>
        <td><%= build.name %></td>
        <td><%= build.processor.name %></td>
        <td><%= link_to 'Show', build %></td>
        <td><%= link_to 'Edit', edit_motherboard_path(build) %></td>
        <td><%= link_to 'Destroy', build, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>