<h1>
    <strong>Name:</strong>
    <%= @build.name %>
</h1>

<p>
    <strong>Author: </strong>
    <%= link_to @build.user.email, "/users/#{@build.user.id}" %>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Part</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><%= @build.processor.name %></td>
            <td>$<%= @build.processor.price %></td>
        </tr>
        <tr>
            <td><%= @build.processor_cooler.name %></td>
            <td>$<%= @build.processor_cooler.price %></td>
        </tr>
        <tr>
            <td><%= @build.video_card.name %></td>
            <td>$<%= @build.video_card.price %></td>
        </tr>
        <tr>
            <td><%= @build.memory.name %></td>
            <td>$<%= @build.memory.price %></td>
        </tr>
        <tr>
            <td><%= @build.storage.name %></td>
            <td>$<%= @build.storage.price %></td>
        </tr>
        <tr>
            <td><%= @build.power_supply.name %></td>
            <td>$<%= @build.power_supply.price %></td>
        </tr>
        <tr>
            <td><%= @build.motherboard.name %></td>
            <td>$<%= @build.motherboard.price %></td>
        </tr>
        <tr>
            <td><%= @build.pc_case.name %></td>
            <td>$<%= @build.pc_case.price %></td>
        </tr>
    </tbody>
</table>

<h2 class="text-end"><strong>Total: </strong>$ <%= total_price(@build) %></h2>

<div class="row">

    <div class="col-md-8">
        <h2>Comments</h2>

        <div class="card">
            <% @build.comments.order('created_at DESC').each do |comment| %>
            <div class="card-body">
                <h4 class="text-left"><%= comment.user.email %></h4>
                <p class="card-text"><%= comment.description %></p>
                <p class="card-text text-end"><small class="text-muted">Last updated at: <%= comment.updated_at %></small></p>
                <% if current_user && ((current_user.id == comment.user_id) || current_user.admin) %>
                <%= link_to "Delete", comment, method: :delete, data: { confirm: "Are you sure?" } %>
                <% end %>
            </div>
            <hr/>
            <% end %>
        </div>
    </div>

    <div class="col-md-4">
        <br/>
        <% if current_user %>
            <%= render 'comments/form', comment: @comment, build: @build %>
        <% else %>
            <br/>
            <h3>You need to login to leave a comment</h3>
            <%= link_to "Log in", new_user_session_path, class:"btn btn-lg btn-primary" %>
        <% end %>

        <hr/>

        <h3>Purchased: <%= @build.purchases.size %></h3>
        <ul class="list-group">
            <% @build.purchases.each do |purchase| %>
                <li class="list-group-item"><%= purchase.user.email %> - $<%= purchase.purchased_price %></li>
            <% end %>
        </ul>
    </div>

</div>