<p id="notice"><%= notice %></p>

<h1>Cases</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <th>Type</th>
      <th>Color</th>
      <th>Power supply</th>
      <th>Side panel window</th>
      <th>External bays</th>
      <th>Internal bays</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |case| %>
      <tr>
        <td><%= case.brand %></td>
        <td><%= case.name %></td>
        <td><%= case.type %></td>
        <td><%= case.color %></td>
        <td><%= case.power_supply %></td>
        <td><%= case.side_panel_window %></td>
        <td><%= case.external_bays %></td>
        <td><%= case.internal_bays %></td>
        <td><%= case.price %></td>
        <td><%= link_to 'Show', case %></td>
        <td><%= link_to 'Edit', edit_case_path(case) %></td>
        <td><%= link_to 'Destroy', case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case', new_case_path %>
