<div class="text-center">
<h3>
  <strong>Brand:</strong>
  <%= @motherboard.brand %>
</h3>

<h3>
  <strong>Name:</strong>
  <%= @motherboard.name %>
</h3>

<h3>
  <strong>Socket:</strong>
  <%= @motherboard.socket %>
</h3>

<h3>
  <strong>Form factor:</strong>
  <%= @motherboard.form_factor %>
</h3>

<h3>
  <strong>Memory max:</strong>
  <%= @motherboard.memory_max %>
</h3>

<h3>
  <strong>Memory slots:</strong>
  <%= @motherboard.memory_slots %>
</h3>

<h3>
  <strong>Color:</strong>
  <%= @motherboard.color %>
</h3>

<h3>
  <strong>Price:</strong>
  <%= @motherboard.price %>
</h3>
</div>
<%= link_to 'Edit', edit_motherboard_path(@motherboard), class:"btn btn-primary" %>
<%= link_to 'Back', motherboards_path, class:"btn btn-primary" %>
