<%= bootstrap_form_with(model: pc_case) do |form| %>
  <% if pc_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pc_case.errors.count, "error") %> prohibited this pc_case from being saved:</h2>

      <ul>
        <% pc_case.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.text_field :case_type %>
  </div>

  <div class="field">
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.text_field :power_supply %>
  </div>

  <div class="field">
    <%= form.text_field :side_panel_window %>
  </div>

  <div class="field">
    <%= form.number_field :external_bays %>
  </div>

  <div class="field">
    <%= form.number_field :internal_bays %>
  </div>

  <div class="field">
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
