<div class="text-center">

<h3>
  <strong>Brand:</strong>
  <%= @pc_case.brand %>
</h3>

<h3>
  <strong>Name:</strong>
  <%= @pc_case.name %>
</h3>

<h3>
  <strong>Case type:</strong>
  <%= @pc_case.case_type %>
</h3>

<h3>
  <strong>Color:</strong>
  <%= @pc_case.color %>
</h3>

<h3>
  <strong>Power supply:</strong>
  <%= @pc_case.power_supply %>
</h3>

<h3>
  <strong>Side panel window:</strong>
  <%= @pc_case.side_panel_window %>
</h3>

<h3>
  <strong>External bays:</strong>
  <%= @pc_case.external_bays %>
</h3>

<h3>
  <strong>Internal bays:</strong>
  <%= @pc_case.internal_bays %>
</h3>

<h3>
  <strong>Price:</strong>
  <%= @pc_case.price %>
</h3>
</div>
<%= link_to 'Edit', edit_pc_case_path(@pc_case), class:"btn btn-primary" %> 
<%= link_to 'Back', pc_cases_path, class:"btn btn-primary" %>
