<div class="text-center">
<h3>
  <strong>Brand:</strong>
  <%= @processor.brand %>
</h3>

<h3>
  <strong>Name:</strong>
  <%= @processor.name %>
</h3>

<h3>
  <strong>Core count:</strong>
  <%= @processor.core_count %>
</h3>

<h3>
  <strong>Core clock:</strong>
  <%= @processor.core_clock %>
</h3>

<h3>
  <strong>Boost clock:</strong>
  <%= @processor.boost_clock %>
</h3>

<h3>
  <strong>Tdp:</strong>
  <%= @processor.tdp %>
</h3>

<h3>
  <strong>Integrated graphics:</strong>
  <%= @processor.integrated_graphics %>
</h3>

<h3>
  <strong>Smt:</strong>
  <%= @processor.smt %>
</h3>

<h3>
  <strong>Price:</strong>
  <%= @processor.price %>
</h3>
</div>
<%= link_to 'Edit', edit_processor_path(@processor), class:"btn btn-primary" %> 
<%= link_to 'Back', processors_path, class:"btn btn-primary" %>
