<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @processor.brand %>
</p>

<p>
  <strong>Name:</strong>
  <%= @processor.name %>
</p>

<p>
  <strong>Core count:</strong>
  <%= @processor.core_count %>
</p>

<p>
  <strong>Core clock:</strong>
  <%= @processor.core_clock %>
</p>

<p>
  <strong>Boost clock:</strong>
  <%= @processor.boost_clock %>
</p>

<p>
  <strong>Tdp:</strong>
  <%= @processor.tdp %>
</p>

<p>
  <strong>Integrated graphics:</strong>
  <%= @processor.integrated_graphics %>
</p>

<p>
  <strong>Smt:</strong>
  <%= @processor.smt %>
</p>

<p>
  <strong>Price:</strong>
  <%= @processor.price %>
</p>

<%= link_to 'Edit', edit_processor_path(@processor) %> |
<%= link_to 'Back', processors_path %>
