<div class="text-center">
<h3>
  <strong>Brand:</strong>
  <%= @processor_cooler.brand %>
</h3>

<h3>
  <strong>Name:</strong>
  <%= @processor_cooler.name %>
</h3>

<h3>
  <strong>Fan rpm:</strong>
  <%= @processor_cooler.fan_rpm %>
</h3>

<h3>
  <strong>Noise level:</strong>
  <%= @processor_cooler.noise_level %>
</h3>

<h3>
  <strong>Color:</strong>
  <%= @processor_cooler.color %>
</h3>

<h3>
  <strong>Radiator size:</strong>
  <%= @processor_cooler.radiator_size %>
</h3>

<h3>
  <strong>Price:</strong>
  <%= @processor_cooler.price %>
</h3>
</div>
<%= link_to 'Edit', edit_processor_cooler_path(@processor_cooler), class:"btn btn-primary" %> 
<%= link_to 'Back', processor_coolers_path, class:"btn btn-primary" %>
