<div class="text-center">
<h3>
  <strong>Brand:</strong>
  <%= @power_supply.brand %>
</h3>

<h3>
  <strong>Name:</strong>
  <%= @power_supply.name %>
</h3>

<h3>
  <strong>Form factor:</strong>
  <%= @power_supply.form_factor %>
</h3>

<h3>
  <strong>Efficiency rating:</strong>
  <%= @power_supply.efficiency_rating %>
</h3>

<h3>
  <strong>Wattage:</strong>
  <%= @power_supply.wattage %>
</h3>

<h3>
  <strong>Modular:</strong>
  <%= @power_supply.modular %>
</h3>

<h3>
  <strong>Color:</strong>
  <%= @power_supply.color %>
</h3>

<h3>
  <strong>Price:</strong>
  <%= @power_supply.price %>
</h3>
</div>
<%= link_to 'Edit', edit_power_supply_path(@power_supply), class:"btn btn-primary" %> 
<%= link_to 'Back', power_supplies_path, class:"btn btn-primary" %>
